.a,.b,.c,.d,.e {
    stroke: #000;
    stroke-miterlimit: 10;
}

.a {
    fill: url(#a);
}

.b {
    fill: url(#b);
}

.c {
    fill: url(#c);
}

.d {
    fill: url(#d);
}

.e {
    fill: url(#e);
}

.f,
.i,
.j {
    fill: none;
}

.g {
    mask: url(#f);
}
.i, .m {
    stroke: #646464;
}
.i, .m {
    stroke-width: 2px;
}

.j, .k {
    stroke: #0978ab;
}

.j {
    stroke-miterlimit: 3.33;
    stroke-width: 0.35px;
}

.k {
    fill: #c6ecff;
    stroke-width: 0.5px;
}

.l {
    clip-path: url(#g);
}

.m {
    fill: #f5f5f5;
}

.district_ulst path {
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #646464;
    stroke-width: 0.75;
    stroke-miterlimit: 4;
    stroke-opacity: 1;
    stroke-dasharray: none;
    fill: #fefee9;
    transition: all, 0s, ease, 0.4s;
}

.district_ulst path:hover {
    fill: #e0e0ab;
    transition: all, 0s, ease, 0.3s;
}

.map{
    width: 45%;
    margin-left: 4%;
    margin-top: 0.7%; 
}

.tooltip {
    position: fixed;
    padding: 5px 5px;
    border: 1px solid #b3c9ce;
    border-radius: 4px;
    text-align: center;
    font: italic 12px/1.3 sans-serif;
    color: #333;
    background: #fff;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
}