.generalInformation {
  color: white;
  font-family: Abhaya Libre ExtraBold;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: -1;
  }
  p {
    margin-left: 14%;
    &:nth-of-type(1) {
      font-size: 3vw;
      margin-top: 10%;
    }
    &:nth-of-type(2),
    &:nth-of-type(3) {
      font-size: 1.6vw;
      margin-top: 2%;
      width: 54%;
    }
  }
  .arrowDown {
    margin: auto;
    margin-top: 3%;
    width: 1.5vw;
    height: 2vw;
    animation: arrowDown 2s infinite;
    transform: rotate(90deg);
    img {
      &:hover {
        cursor: pointer;
      }
    }
    @keyframes arrowDown {
      0% {
        opacity: 0;
        transform: rotate(90deg) translate(0, 0);
      }
      50% {
        opacity: 1;
      }
      100% {
        opacity: 0;
        transform: rotate(90deg) translate(250%, 0);
      }
    }
  }
}

.arrowUp {
  position: fixed;
  right: 1%;
  bottom: 10%;
  opacity: 0;
  z-index: 2;
  transition: all 0.5s ease;
  background-color: #576f73;
  padding-left: 1.1165%;
  padding-bottom: 0.4s;
  width: 3%;
  border-radius: 50%;
  cursor: pointer;
  &:hover {
    background-color: #4f686c;
    transition: all 0.5s ease;
  }
  img {
    width: 40%;
    margin: 0;
    transform: rotate(-90deg);
  }
}
.animShow {
  opacity: 0;
  transition: all 0.7s ease;
}

.animShow .active,
.active .animShow {
  opacity: 1;
}
