.chronoArrow {
  position: fixed;
  left: 2vw;
  top: 6vw;

  svg {
    height: 37vw;
    .epoch {
      fill: #4f686c;
      transition: 500ms ease;
    }
    .active {
      fill: #6eadad;
      transition: 500ms ease;
    }
    path {
      &:hover {
        cursor: pointer;
      }
    }
  }
}
.historyContainer {
  display: flex;
  flex-direction: column;
  margin-left: 17%;
  font-family: Abhaya Libre ExtraBold;
  color: #325e65;
  padding-left: 4vw;
  padding-right: 4vw;
  margin-top: 2vw;
  .titleContainer {
    font-size: 3.7vw;
    text-align: center;
  }
  .titleEpoch {
    text-align: center;
    font-size: 2.9vw;
    margin-top: 1.33vw;
  }
  p {
    font-size: 1.5vw;
    margin-top: 1vw;
  }
  .photoContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .photo {
      display: flex;
      flex-direction: column;
      margin-top: 1.5vw;
      img {
        width: 36vw;
      }
      p {
        font-style: italic;
        margin-top: 1%;
        font-size: 1.2vw;
        text-align: center;
        color: #325e65;
      }
    }
  }
}
