.containerBulgaro {
  margin-top: 2vw;
  .videoContainer {
    margin-top: 2vw;
    iframe {
      width: 50vw;
      height: 28vw;
      margin: auto;
    }
    p {
      font-style: italic;
      margin-top: 1%;
      font-size: 1.2vw;
      text-align: center;
      color: #325e65;
    }
  }
}
