.window {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    margin-left: 50%;
    font-family: Abhaya Libre ExtraBold;

    .titleDefault{
        color: #133e45;
        text-align: center;
        font-size: 2vw;
        margin-top: 2%;
    }
    .title{
        color: #133e45;
        text-align: center;
        font-size: 2vw;
        margin-top: 5%;
    }
    img{
        transform: translatez(0);
    }
    .imgDefaultWindow {
        margin: auto;
        width: 85%;
        margin-top: 2%;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    .imgWindow {
        margin: auto;
        width: 85%;
        margin-top: 5%;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        /* border: 2px inset black; */
    }
    .textWindow{
        font-weight: normal;
        font-size: 1.3vw;
        line-height: 1.7vw;
        color: #164A52;
        text-align: center;
        margin-top: 2.5%;
        padding: 0 2%;
    }
}